*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    /* height: 100vh; */
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* HEADER CSS */

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 2px solid red; */
    gap: 15rem;
}

.logoheader{
    color: cadetblue;
    font-size: 2rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    justify-self: right;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
}
a:hover{
    color: cadetblue;
}
li{
    list-style: none;
}
/* MAIN-CSS */
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
    gap: 13rem;
    padding-top: 3rem;
    position: relative;
}
.main-left{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 25rem;
    gap: 1rem;
    /* padding-top: 8rem;
    padding-right: 10rem; */
    /* margin-right: 24rem;
    margin-top: 4rem; */
    /* border: 2px solid red; */
}
.mainleftheading{
    font-size: 2.5rem;
}
.mainleftheading::after{
    content: ' Things';
    color: cadetblue;
}
.ordernow{
    padding: 2px 8px;
    /* border: 2px solid rebeccapurple; */
    border: none;
    color: white;
    background-color:cadetblue;
    border-radius: 0.3rem;
    transition: 1s;
}
.ordernow:hover{
    color: darkgray;
}
.search{
    padding: 2px 50px;
}
.folower{
     display: flex;
     gap: 2rem;
}
.f1{
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
}
.f1 h1{
    font-size: 1.5rem;
}
.main-right img{
    width: 20rem;
}
.welcome-img {
     /* border: 2px solid red; */
    width: 9rem;
    position: absolute;
    left: -20%;
    top: 50%;
}
.welcome-img img{
   width: 8rem;
}
.woodenchair{
    /* border: 2px solid red; */
    width: 83rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    gap: 12rem;
}
.woodenleft{
    /* border: 2px solid red; */
    padding-left: 10rem;
    width: 40rem;
}
.woodenleft img{
    width: 30rem;
}
.woodenright{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    width: 60rem;
    gap: 0.5rem;
}
.woodenright h1{
    font-size: 2rem;
}
.woodenright p{
    font-size: 1rem;
    font-weight: 300;
}
.ruppes{
    width: fit-content;
}
.woddenrightpara{
    /* border: 2px solid red; */
    width: 27rem;
}
.ruppes{
    padding: 5px 5px;
    color: white;
    background-color:cadetblue;
    border: none;
    border-radius: 0.2rem;
    margin-top: 1rem;
}
.ruppes:hover{
    color: darkgray;
}

/* TABLE WOOD PANE */
.tablewoodpane{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    gap: 19rem;
}
.left-table{
    /* border: 2px solid red; */
    margin-left: 10rem;
    width: 20rem;
}
.left-table-para{
    /* border: 2px solid red; */
    width: 30rem;
}
.tableheader{
    font-size: 2rem;
}
.tablepara{
    font-size: 1rem;
    font-weight: 300;
}
.right-table img{
    width: 32rem;
}
/* ARTS DECOR HOME */
.artdecorhome{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25rem;
    padding-top: 4rem;
}
.left-decor img{
    width: 25rem;
}
.right-decor{
    /* border: 2px solid red; */
    gap: 1.5rem;
}
.rightdecorpara{
    width: 30rem;
}
.decorheading{
    font-size: 2rem;
}
/* BEST SELING */
.sofaselling{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 2rem;
}
.sellingheader{
    text-align: center;
    font-size: 2rem;
}
.sellingtop{
    display: flex;
    gap: 5rem;
}
.sellingbottom{
    display: flex;
    gap: 7rem;
}
.sofa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sofa img{
    width: 25rem;
}
.sofa1 img{
    width: 22rem;
}
.sofa2 img{
    width: 22rem;
    height: 12rem;
}
.sofa3 img{
    width: 20rem;
    height: 8rem;
}
.sofa4 img{
    width: 18rem;
}

/* FESTIVAL */
.festival{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;
    gap: 10rem;
}
.left-festival{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 25rem;
}
.right-festival img{
    width: 30rem;
}
.leftfestipara{
    /* border: 2px solid red; */
    width: 20rem;
}
.Booknow{
    width: fit-content;
}
.Booknow:hover{
    color: darkgray;
}
.festheading{
    font-size: 3rem;
}
.festheading::after{
    content: ' Offer:s';
    color: cadetblue;
}
.festheading1{
    font-size: 3rem;
}
.Booknow{
    background-color:cadetblue;
    color: white;
    border: none;
    padding: 3px 5px;
}

/* BLOG CARD */
.cards img{
   width: 20rem;
}
.blog{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content:center;
    padding-top: 3rem;
    gap: 3.2rem;
}
.cards{
    border: 2px solid rgba(0,0,0,0.4);
    width: 20.2rem;
}
.card2 img{
    /* height: 5.5rem; */
    height: 10.5rem;
}
.blogs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Readmore{
    /* border: 2px solid red; */
    padding: 3px 3px;
}
/* FOTTER */
.foot{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}
.topfoot{
    display: flex;
}
.email{
    /* border: 2px solid red; */
    padding: 0.2rem 13rem;
}
.Subsribe{
    background-color:cadetblue;
    color: white;
    border: none;
    padding: 0.2rem 0.5rem;
}
.Subsribe:hover{
    color: darkgray;
}
.center-foot{
    display: flex;
    gap: 12rem;
    padding-top: 2rem;
}
.link{
    display: flex;
    flex-direction: column;
}
.link a{
    font-size: 1rem;
}
.link p{
    font-weight: 300;
}

/* MEDIA QUERY */
/* MEDIA QUERY FOR LAPTOP 1024PX */
@media only screen and (max-width:1024px) {
    header{
        /* border: 2px solid red; */
        justify-content: flex-start;
        gap: 6rem;
        align-items: center;
    }
     .logoheader{
        font-size: 1rem;
    }
    li a{
        font-size: 1rem;
    }
    .icon img{
        width: 2.5rem;
    }
    main{
        gap: 5rem;
        justify-content: space-around;
        padding-top: 4rem;
    }
    .main-left{
        /* border: 2px solid red; */
        width: 15rem;
    }
    .mainleftheading{
        font-size: 1.5rem;
    }
    .main-left-button{
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .ordernow{
        width: fit-content;
    }
    .main-right img{
        width: 15rem;
    }
    .welcome-img img{
        width: 7rem;
        /* border: 2px solid red; */
    }
    .woodenchair{
        gap: 2rem;
        /* border: 2px solid red; */
        width: 54rem;
        justify-content: center;
        padding-top: 3rem;
    }
    .woodenleft{
        padding-left: 0rem;
    }
    .woodenleft{
        /* margin-left: 6rem; */
        /* border: 2px solid red; */
        width: 20rem;
    }
    .woodenleft img{
        width: 20rem;
    }
    .woodenright{
        /* border: 2px solid green; */
        width: 15rem;
        /* align-items: center; */
    }
    .woodenright p{
        font-size: 0.7rem;
    }
    .woddenright h1{
        font-size: 0.5rem;
        color: red;
    }
    .woddenrightpara{
        /* border: 2px solid red; */
        width: 10rem;
    }
    .tablewoodpane{
        gap: 0rem;
    }
    .right-table img{
        width: 23rem;
    }
    .left-table-para{
        /* border: 2px solid red; */
        width: 18rem;
        font-weight: 100;
        font-size: 0.8rem;
    }
    .artdecorhome{
        gap: 3rem;
    }
    .rightdecorpara{
        width: 20rem;
    }
    .sofaselling{
        /* border: 2px solid red; */
        gap: 2rem;
    }
    .sellingtop{
        /* border: 2px solid red; */
        gap: 3rem;
    }
    .sellingbottom{
        /* border: 2px solid red; */
        gap: 5rem;
    }
    .festival{
        /* border: 2px solid red; */
        gap: 1.5rem;
        justify-content: center;
    }
    .left-festival{
        /* border: 2px solid red; */
        width: 15rem;
    }
    .festheading1{
        font-size: 1.5rem;
    }
    .festheading{
        font-size: 1.5rem;
    }
    .leftfestipara{
        /* border: 2px solid red; */
        font-weight: 400;
        font-size: 0.8rem;
        width: 15rem;
    }
    .right-festival img{
        width: 21rem;
    }
    .cards img{
        width: 12.8rem;
        /* border: 2px solid red; */
    }
    .blog{
        /* border: 2px solid red; */
        gap: 1rem;
    }
    .cards{
        width: 13rem;
        /* border: 2px solid red; */
    }
    .card2 img{
        height: 6.7rem;
    }
    .center-foot{
        gap:  3rem;
    }
}
/* TABLET MEDIA QUERY */
@media screen and (max-width:768px) {
    body{
        position: relative;
    }
    header{
        /* border: 2px solid green; */
        gap: 0.6rem;   
        justify-content: center;
        align-items: center;
    }
    .logoheader{
        font-size: 1rem;
    }
    nav{
        gap: 0.3rem;
        justify-self: center;
    }
    li a{
        font-size: 0.9rem;
    }
    .icon img{
        width: 2rem;
    }
    main{
       gap: 1rem;
       flex-direction:column-reverse;
       position: relative;
    }
    .main-left{
        width: 15rem;
        /* border: 2px solid red; */
        gap: 1rem;
    }
    .main-left h1{
        font-size: 2rem;
    }
    .search{
        padding:0.1px 0.1px;
        /* width: fit-content; */
    }
    .folower{
        gap: 1rem;
        /* flex-direction: c; */
    }
    .f1 h1{
        font-size: 1rem;
    }
    .f1 p{
        font-size: 0.5rem;
    }
    .main-right{
        /* border: 2px solid red; */
        width: 15em;
    }
    .main-right img{
        width: 15rem;
        position: relative;
    }
    .welcome-img{
        /* border: 2px solid red; */
        width: 10rem;
        left: -36%;
        top: 80%;
    }
    .welcome-img img{
        position: absolute;
        width: 6rem;
    }
    .woodenchair{
        gap: 1rem;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .woodenleft{
        width: 15rem;
        /* flex-direction: row; */
    }
    .woodenright{
        /* border: 2px solid red; */
        width: 15rem;
        gap: 0rem;
    }
    .woodenrightheading{
        /* color: blue; */
        font-size: 0.1rem;
        font-weight: 400;
    }
    .woddenrightpara{
        width: 10rem;
    }
    .woodenleft img{
        width: 15rem;
    }
    .tablewoodpane{
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        gap: 1rem;
    }
    .left-table{
        /* border: 2px solid red; */
        width: 23rem;
        /* padding-left: 0rem; */
    }
    .left-table h1{
        font-size: 1.2rem;
    }
    .left-table-para{
        /* border: 2px solid green; */
        width: 10rem;
    }
    .right-table{
        /* border: 2px solid red; */
        width: 18rem;
    }
    .right-table img{
        width: 18rem;
    }
    .artdecorhome{
        /* border: 2px solid red; */
        flex-direction: column-reverse;
        gap: 2.3rem;
    }
    .left-decor{
        /* border: 2px solid red; */
        width: 20rem;
    }
    .left-decor img{
        width: 18rem;
    }
    .right-decor{
        /* border: 2px solid green; */
        width: 10rem;
    }
    .woodenrightheading{
        font-size: 0.5rem;
    }
    .rightdecorpara{
        width: 10rem;
        font-size: 0.6rem;
    }
    .sofaselling{
        gap: 0rem;
        justify-content: center;
    }
    .sellingtop{
        gap: 0.5rem;
        /* border: 2px solid red; */
    }
    .sellingbottom{
        gap: 0.5rem;
        /* border: 2px solid green; */
    }
    .sofa img{
        width: 10rem;
    }
    .sofa2 img{
        height: 5rem;
    }
    .sofa h1{
        font-size: 0.7rem;
    }
    /* FESTIVAL */
    .festival{
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }
    .left-festival{
        /* border: 2px solid red; */
        width: 15rem;
    }
    .leftfestipara{
        width: 15rem;
    }
    .right-festival{
        width: 17rem;
    }
    .right-festival img{
        width: 17rem;
    }
    /* BLOG CARD */
    .blog{
        /* flex-direction: column;
        justify-content: center;
        align-items: center; */
        gap: 0.5rem;
        flex-direction: column;
    }
    .cards{
        flex-direction: column;
        width: 15rem;
        /* border: 2px solid red; */
    }
    .cards img{
        width: 5.8rem;
    }
    .card2 img{
        height: 4rem
    };
     /*  LINKES  */
     .linkheading{
        font-size: 0.2rem;
        font-family: 400;
        color: red;
     }
     .topfoot{
        flex-direction: column;
     }
     .email{
        padding: 0.1px 0.1px;
        width: fit-content;
     }
     .Subsribe{
        padding: 0.3px 0.9px;
     }
     .center-foot{
        gap: 2rem;
        width: 17.2rem;
     }
     .link{
        gap: 0.3rem;
     }
     .linklogo{
        width: 4rem;
     }
     .link p{
        /* color: red; */
        font-size: 0.8rem;
     }
}
@media only screen and (max-width:425px){
    header{
        /* border: 2px solid red; */
        flex-direction: column;
        /* width: 5rem; */
    }
    .icon img{
        width:6rem;
    }
    .main-left{
        /* border: 2px solid red; */
        width: 11rem;
    }
    .main-right{
        width: 8rem;
    }
    .main-right img{
        width: 8rem;
    }
    .search{
        width: fit-content;
    }
    .welcome-img{
        left: -50%;
        top: 80%;
    }
    .right-table{
        width: 14rem;
        /* border: 2px solid red; */
    }
    .right-table img{
        width: 14rem;
    }
    .left-decor{
        /* border: 2px solid red; */
        width: 12rem;
    }
    .left-decor img{
        width: 8rem;
    }
    .right-decor{
        /* border: 2px solid red; */
        width: 12rem;
    }
    .sellingheader{
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .sellingtop{
        flex-direction: column;
    }
    .sellingbottom{
        flex-direction: column;
    }
    .sofa h1{
        font-size: 1rem;
    }
    .sofa p{
        font-size: 1rem;
        font-weight: 600;
    }
    .sofa3 img{
        width: 12rem;
    }
    .sofa4 img{
        width: 12rem;
    }
    .left-festival{
        /* border: 2px solid red; */
        width: 10rem;
    }
    .leftfestipara{
        width: 10rem;
    }
    .right-festival{
        /* border: 2px solid red; */
        width: 12rem;
    }
    .right-festival img{
        width: 12rem;
    }
    .blogheading{
        font-size: 2rem;
    }
    .blogs{
        padding-top: 4rem;
    }
    .cards{
        width: 10rem;
    }
    .cards img{
        width: 9.7rem;
    }
    .email{
        padding: 0.3px 0.2px;
    }
}
@media only screen and (max-width:320px) {
    header{
        /* border: 2px solid red; */
        flex-direction: column;
    }
    nav{
        flex-direction: column;
    }
    .main-left{
        /* border: 2px solid red; */
        width: 8rem;
    }
    .main-left h1{
        font-size: 1rem;
    }
    .search{
        width: fit-content;
        padding: 0.1px 0.1px;
        /* border: 2px solid green; */
    }
    .woodenleft{
        /* border: 2px solid red; */
        width: 8rem;
    }
    .woodenleft img{
        width:8rem;
    }
    .woodenright{
        /* border: 2px solid red; */
        width: 8rem;
    }
    .left-table{
        /* border: 2px solid red; */
        width: 20rem;
    }
    .left-table-para{
        width: 15rem;
    }
    .right-table{
        /* border: 2px solid red; */
        width: 10rem;
    }
    .right-table img{
        width: 10rem;
    }
}